<input type="text" class="recipe-servings" value=8><button class="adjust-recipe">Adjust Recipe</button>
<ul class="recipe-card-list">
  <li class="recipe-card__item">1 Pound Chicken</li>
  <li class="recipe-card__item">1 Cup Sliced Carrots</li>
  <li class="recipe-card__item">0.5 Cup Sliced Celery</li>
  <li class="recipe-card__item">0.75 Cup Butter</li>
  <li class="recipe-card__item">0.75 Cup Chopped Onions</li>
  <li class="recipe-card__item">0.25 Cup Flour</li>
</ul>

{{outlet}}
