<input type="text" class="recipe-servings" value=8><button class="adjust-recipe">Adjust Recipe</button>
<ul class="recipe-card-list">
  <li class="recipe-card__item"><span class="recipe-quantity">2</span> Pound Chicken</li>
  <li class="recipe-card__item"><span class="recipe-quantity">1</span> Cup Sliced Carrots</li>
  <li class="recipe-card__item"><span class="recipe-quantity">0.5</span> Cup Sliced Celery</li>
  <li class="recipe-card__item"><span class="recipe-quantity">0.75</span> Cup Butter</li>
  <li class="recipe-card__item"><span class="recipe-quantity">0.75</span> Cup Chopped Onions</li>
  <li class="recipe-card__item"><span class="recipe-quantity">0.25</span> Cup Flour</li>
</ul>

{{outlet}}
